body{

	font-family: 'Rubik', sans-serif;

}
#nav{

	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;

}

#nav li{

	float: right;
	display: block;
	padding: 8px 15px 5px;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}

a{

	text-decoration: none;
	color: black;

}

#sign-up{

	border-radius: 100px;
	width: 105px;
	height: 32px;
	font-size: 18px;
	font-weight: 500;

}

.Boost-master-logo_gray{

    width:113px;
    height:52px;
    float: left;
    padding: 8px 15px 3px;
    display: inline-block; 

}

.jumbotron{

	/**temporary**/
	background-color: #eeeeee;

	background-image: url(bitmap.svg);
	width: 100%;
	float: left;
	padding: 0;
	margin:0;

}

h1{

	font-size: 48px;
	padding: 0;

}

h3{

	padding: 0;
  	font-size: 30px;
  	font-weight: normal;

}

.vertically-centered-indented{


	padding: 140px 0;
	margin-left: 100px;


}

.jumbotron-buttons{

	border-radius: 37px;
	font-size: 30px;
  	font-weight: 500;
  	padding: .25em 1em;

}

.icon-bg{


	/**temporary**/
	background-color: #cccccc;

	width: 100%;
	float: left;
	padding: 0;
	margin:0;
	padding: 60px 0;

}


.icon{

	width: 121px;
	height: 121px;

}

table{

	width: 90%;

}

td{

	padding: 5px 40px;

}


.understand-boost{

	width: 100%;
	float: left;
	padding: 0;
	margin:0;
	padding: 40px 0;

}

h2{

	font-size: 36px;

}

p{

	font-size: 20px;

}

video{

	/**temporary**/
	border-style: solid;

	width: 100%;

}

.understand-boost-columns{

	width: 40%;

}

.partners-bg{

	/**temporary**/
	background-color: #eeeeee;

	text-align: center;
	width: 100%;
	float: left;
	padding: 0;
	margin:0;
	padding: 0 0 20px 0;

}

.create-your-account{

	/**temporary**/
	background-color: #cccccc;

	text-align: center;
	width: 100%;
	float: left;
	margin:0;
	padding: 20px 0 20px 0;

}

.create-account-button{

	border-radius: 37px;
	font-size: 20px;
  	font-weight: 500;
  	padding: .75em 3em;

}

#fine-print{

	font-size: 10px;

}

.bottom-links{

	text-align: center;
	width: 100%;
	float: left;
	margin:0;
	padding: 20px 0 20px 0;
	font-family: 

}

#link-headings{

	font-weight: bolder;

}

.copyright{

	padding: 20px 0 10px 0;

}

.footer-logos{

	width: 30px;
	height: 30px;
	border-radius: 100%;
	padding: 0 5px;

}

.footer-padding{

	padding-bottom: 10px;

}